body{
  font-family: Arial;
  background:#f2f2f2;
  padding:20px;
}

h1{
  color:#1e3a8a;
  font-size:40px;
}

h2{
  color:#2563eb;
  margin-top:30px;
}

p,li{
  font-size:18px;
  line-height:1.6;
}

ul{
  background:white;
  padding:20px;
  border-radius:10px;
}

p{
  background:white;
  padding:15px;
  border-radius:10px;
}
.profile{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    display:block;
    margin:20px auto;
}

.project-highlight{
    background:white;
    border-left:6px solid #2d5be3;
    padding:15px;
    margin:15px 0;
    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.project-highlight h3{
    color:#2d5be3;
}